<%= form_with(url: '/admin/relationships', model: relationship, method: "post") do |form| %>
  <div>
    <div class="row py-md-2">
      <div class="col">
        <%= form.label('characterization', "Tipo de participación") %>
        <%%= form.text_field :characterization value: characterization_id >
        <%= form.label('actor_id', "Nombre") %>
        <%= form.select('actor_id', options_for_select(actors_select.collect{|x| [x.name,x.id]}), {class: "selectpicker form-control"}) %>
      </div>
      <div class="col">
        <%= form.label('participation_type', "Tipo de participación") %>
        <%= form.select('participation_type', options_for_select([['Actor beneficiado'], ['Actor de conocimiento'], ['Actor denunciante'], ['Actor involucrado'], ['No disponible']]), {class: "selectpicker form-control"}) %>
      </div>
    </div>
    <div class="py-md-2">
       <%= form.submit %>
    </div>
  </div>
<% end %>