<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>
<div class="text-primary p-3 font-weight-bold">
  Caracterización del Reporte
</div>

<section class="main-content__body">
  <%= form_with(url: '/admin/characterizations', model: characterization, method: "patch") do %>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= label_tag('characterization[summary]', "Resumen del reporte") %>  
          <%= text_area_tag('characterization[summary]', "", rows: "6", class:"form-control") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag('characterization[status]', 'Estado de caso') %>
          <%= select_tag('characterization[status]', options_for_select(characterization_form_options['status_options']), {class: "selectpicker form-control"}) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag('characterization[known_authority]', '¿Caso conocido por autoridades con anterioridad al reporte?', style: "min-height: 50px;") %>
          <div class="form-check form-check-inline">
            <%= radio_button(:characterization, :known_authotity, true , class: "form-check-input") %> Sí
          </div>
          <div class="form-check form-check-inline">
            <%= radio_button(:characterization, :known_authotity, false, class: "form-check-input") %> No
          </div>
        </div>
        <div class="form-group d-none select-known-authority">
          <label>¿Cuál?</label>
          <select class="form-control known-authority">
            <option value="fiscalia">Fiscalía</option>
            <option value="procuraduria">Procuraduría</option>
            <option value="contraloria">Contraloría</option>
            <option value="otro">Otra</option>
          </select>
        </div>
        <div class="form-group known-authority-input d-none">
          <input type="text" class="form-control" placeholder="Detalle cuál">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag('characterization[has_tool]', 'Herramientas jurídicas previas al ALAC', style: "min-height: 50px;") %>
          <div class="form-check form-check-inline">
            <%= radio_button(:characterization, :has_tool, true , class: "form-check-input") %> Sí
          </div>
          <div class="form-check form-check-inline">
            <%= radio_button(:characterization, :has_tool, false, class: "form-check-input") %> No
          </div>
        </div>
        <div class="form-group has-tool-select d-none">
          <label>¿Cuál?</label>
          <select class="form-control has-tool">
            <option value="queja">Queja</option>
            <option value="denuncia">Denuncia</option>
            <option value="accion-de-tutela">Acción de tutela</option>
            <option value="accion-de-grupo">Acción de grupo</option>
            <option value="accion-popular">Acción popular</option>
            <option value="accion-de-cumplimiento">Acción de cumplimiento</option>
            <option value="consulta-previa">Consulta previa</option>
             <option value="solicitud-revocatoria-directa">Solicitud de Revocatoria directa</option>
            <option value="otro">Otra</option>
          </select>
        </div>
        <div class="form-group has-tool-input d-none">
          <input type="text" class="form-control" placeholder="Detalle cuál">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag('characterization[scope]', 'Alcance del Caso', style: "min-height: 50px;") %>
           <%= select_tag('characterization[scope]', options_for_select(characterization_form_options['scope_options']), {class: "selectpicker form-control"}) %>
        </div>
      </div>
    </div>
  <% end %>
</section>
