<section class="main-content__body">
  <div class="container-fluid">
    <%= form_with(url: admin_characterization_path(@characterization), model: characterization, method: "patch", class: 'form-submit') do %>
      <div class="row py-md-4">
        <div class="col-md">
          <div class="form-group">
            <div>
              <%= label_tag('characterization[kind_corruption]', "Tipos de corrupción") %>
            </div>
            <%= select_tag('characterization[kind_corruption]', options_for_select(corruption_options, @characterization.kind_corruption), { class: "selectpicker form-control corruption-select"}) %>
          </div>
        </div>
        <div class="col-md">
          <div>
            <%= label_tag('characterization[affected_area]', "Ámbito afectado") %>
          </div>
          <%= select_tag('characterization[affected_area]', options_for_select(affected_area_options['administrative_corruption_options'], @characterization.affected_area), { class: "selectpicker form-control administrative-corruption-select #{ @characterization.kind_corruption != 'Corrupción administrativa' ? 'hide' : ''}"}) %>
          <%= select_tag('characterization[affected_area]', options_for_select(affected_area_options['judicial_corruption_options'], @characterization.affected_area), { class: "selectpicker form-control judicial-corruption-select #{ @characterization.kind_corruption != 'Corrupción judicial' ? 'hide' : ''}"}) %>
          <%= select_tag('characterization[affected_area]', options_for_select(affected_area_options['political_corruption_options'], @characterization.affected_area), { class: "selectpicker form-control political-corruption-select #{ @characterization.kind_corruption != 'Corrupción política' ? 'hide' : ''}"}) %>
          <%= select_tag('characterization[affected_area]', options_for_select(affected_area_options['private_corruption_options'], @characterization.affected_area), { class: "selectpicker form-control private-corruption-select #{ @characterization.kind_corruption != 'Corrupción privada' ? 'hide' : ''}"}) %>
        </div>
        <div class="col-md">
          <div>
            <%= label_tag('characterization[affected_sector]', "Sector afectado") %>
          </div>
          <%= select_tag('characterization[affected_sector]', options_for_select(affected_sector, @characterization.affected_sector), { class: "selectpicker form-control"}) %>
        </div>
      </div>
      <div class="row py-md-4">
        <div class="col-md">
          <div>
            <%= label_tag('characterization[rights_violated]', "Derechos presuntamentes vulnerados") %>
          </div>
           <%= select_tag('characterization[rights_violated]', options_for_select(rights_violated, @characterization.rights_violated), { class: "selectpicker form-control"}) %>
        </div>
        <div class="col-md">
          <div>
            <%= label_tag('characterization[kind_responsability]', "Clase de presunta responsabilidad") %>
          </div>
          <%= select_tag('characterization[kind_responsability]', options_for_select(kind_responsability, @characterization.kind_responsability), { class: "selectpicker form-control"}) %>
        </div>
        <div class="col-md">
          <div>
           <%= label_tag('characterization[crime]', "Presunto delito") %>
          </div>
          <%= select_tag('characterization[crime]', options_for_select(crime, @characterization.crime), { class: "selectpicker form-control" }) %>
        </div>
      </div>

      <div class="row  py-md-4">
        <div class="w-30 px-md-3">
          <div class="form-group">
            <%= label_tag('characterization[have_material]', "El material probatorio y/o información enviado por el usuario en el reporte es suficiente para formular la denuncia?") %>
            <div class="form-check form-check-inline">
              <%= radio_button(:characterization, :have_material, true , class: "form-check-input") %> Sí
            </div>
            <div class="form-check form-check-inline">
              <%= radio_button(:characterization, :have_material, false, class: "form-check-input") %> No
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= submit_tag("Guardar", :class =>"btn btn-primary form-btn-submit") %>
        </div>
      </div>
    <% end %>
  </div>
</section>


