<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="actor_name" aria-describedby="name" name="actor[name]" placeholder="Completar nombre">
      </div>
    </div>
     <div class="col-md-4">
      <div class="form-group">
        <label for="last_name">Apellido:</label>
        <input type="text" class="form-control" id="actor_last_name" aria-describedby="lastName" name="actor[last_name]" placeholder="Completar apellido">
      </div>
    </div>
     <div class="col-md-4">
       <label for="general_type">Tipo:</label>
      <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input actors-type-checkbox" type="radio" name="actor[general_type]" id="actor_general_type" value="individual">
            <label class="form-check-label" for="individual">Individual</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input actors-type-checkbox" type="radio" name="actor[general_type]" id="actor_general_type" value="colectivo">
            <label class="form-check-label" for="colectivo">Colectivo</label>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="category">Tipo:</label>
        <%= select_tag('actor[category]',options_for_select(get_options['individual_actor_types']) , { class: "selectpicker actors-individual-select"}) %>
        <%= select_tag('actor[category]',options_for_select(get_options['collective_actor_types']) , { class: "selectpicker d-none actors-collective-select"}) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="subtype">Sub-Tipo:</label>
        <%= select_tag('actor[subtype]',grouped_options_for_select(get_options['individual_first_subtype']) , { class: "selectpicker actors-individual-select"}) %>
        <%= select_tag('actor[subtype]',grouped_options_for_select(get_options['collective_first_subtype']) , { class: "selectpicker d-none actors-collective-select"}) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="subtype_2">Sub-Tipo 2:</label>
        <%= select_tag('actor[subtype_2]',grouped_options_for_select(get_options['individual_second_subtype']) , { class: "selectpicker actors-individual-select"}) %>
        <%= select_tag('actor[subtype_2]',grouped_options_for_select(get_options['collective_second_subtype']) , { class: "selectpicker d-none actors-collective-select"}) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="institution">Institución:</label>
        <%= select_tag('actor[institution]',options_for_select(get_options['actors_institution']) , { class: "selectpicker"}) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="public_branch">Rama del poder público:</label>
        <%= select_tag('actor[public_branch]',options_for_select(get_options['actors_public_branch']) , { class: "selectpicker"}) %>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-4 d-none actor-charge-field">
      <div class="form-group">
        <label for="position">Cargo:</label>
        <%= select_tag('actor[position]',options_for_select(get_options['actors_position']) , { class: "selectpicker"}) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="entity">Partido Político:</label>
        <%= select_tag('actor[entity]',options_for_select(get_options['actors_entity']) , { class: "selectpicker"}) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 d-none actor-charge-input">
      <div class="form-group">
        <input type="text" class="form-control" id="actor_position_custom" aria-describedby="charge" placeholder="Completar cargo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>
        <%= f.submit "Crear / Editar actor" %>
      </div>
    </div>
  </div>
<% end %>
