<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Procesos Judiciales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: admin_evolutions_path, model: evolution, method: "post", class: 'form-submit') do %>
          <div>
            <%= hidden_field_tag 'evolution[characterization_id]', characterization_id %>
            <div class="row py-md-2">
              <div class="col"> 
                <%= label_tag(:presentation_date, "Fecha de presentación de la denuncia") %>
                <%= date_field(:evolution, :presentation_date) %>  
              </div>
              <div class="col">
                <%= label_tag('evolution[sanction_date]', "Fecha de sanción") %>
                <%= date_field(:evolution, :sanction_date) %>  
              </div>
            </div>
          </div>

          <div>
            <div class="row py-md-2">
              <div class="col">
                <label>Actor investigados</label> 
                <%= select_tag('evolution[actor_id]', options_for_select(actors_select.collect{|x| [x.name,x.id]}), {class: "selectpicker"}) %>
              </div>
              <div class="col">
                <label>Tipos de investigacion</label> 
                <%= select_tag('evolution[kind_investigation]', raw('<option value="penal">penal</option><option value="fiscal">fiscal</option><option value="disciplinaria">disciplinaria</option>'), {class: "selectpicker kind_investigation"}) %>
              </div>
              <div class="col">
                <label>Etapa Procesal</label> 
                <%= select_tag('evolution[stage]',options_for_select(get_options['penal_stage_options']) , { class: "selectpicker penal_stage_options"}) %>
                <%= select_tag('evolution[stage]',options_for_select(get_options['fiscal_stage_options']) , { class: "selectpicker fiscal_stage_options hide"}) %>
                <%= select_tag('evolution[stage]',options_for_select(get_options['disciplinary_stage_options']) , { class: "selectpicker disciplinary_stage_options hide"}) %>
              </div>
            </div>
          </div>

          <div>
            <div class="row py-md-2">
              <div class="col">
                <label>Situacion del investigado</label> 
                <%= select_tag('evolution[situation]',options_for_select(get_options['penal_situation_options']) , { class: "selectpicker penal_situation_options"}) %>
                <%= select_tag('evolution[situation]',options_for_select(get_options['penal_situation_options']) , { class: "selectpicker fiscal_situation_options hide"}) %>
                <%= select_tag('evolution[situation]',options_for_select(get_options['disciplinary_situation_options']) , { class: "selectpicker disciplinary_situation_options hide"}) %>
              </div>
              <div class="col hide fault_select">
                <div>
                  <label>Presunta falta</label>
                </div>
                <%= select_tag('evolution[fault]', raw('<option value="leve">Leve</option><option value="grave">Grave</option><option value="gravisima">Gravísima</option>'),  {class: "selectpicker"}) %>
              </div>
            </div>
          </div>
          <div>
            <div class="row py-md-2">
              <div class="col">
                <label>Autoridad de conocimiento</label> 
                <%= text_field_tag('evolution[authority]') %>
              </div>
              <div class="col crime_select">
                <div>
                  <label>Presunto delito</label>
                </div>
                <%= select_tag('ui-crime', options_for_select(get_options['crime_options']),  {multiple:true, class: "selectpicker crime-select"}) %>
                <%= hidden_field_tag 'evolution[crime]' %>

              </div>
            </div>
          </div>
          <div>
            <label for="">Detalle de la sanción</label>
            <%= text_area_tag('evolution[details]', "", size: "24x6") %>
          </div>
          <div>
            <label for="">Comentarios</label>
            <%= text_area_tag('evolution[comment]', "", size: "24x6") %>
          </div>

          <div class="py-md-3">
            <%= submit_tag("Agregar investigacion", :class =>"form-btn-submit") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>