<section class="main-content__body">
  <table class="col-md-12 table mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Actor investigador</th>
        <th scope="col">Tipo de investigaci贸n</th>
        <th scope="col">Etapa procesal</th>
        <th scope="col">Presunta falta</th>
        <th scope="col">Presunto delito</th>
        <th scope="col">Autoridad del conocimiento</th>
        <th scope="col">Situaci贸n del investigado</th>
        <th scope="col">Fecha de presentaci贸n de denuncia</th>
        <th scope="col">Fecha de sanci贸n</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% evolutions.each.with_index(1) do |e, index| %>
        <tr>
          <th scope="row"><%= index %></th>
          <td><%= e.actor_id %>l</td>
          <td><%= e.kind_investigation %></td>
          <td><%= e.stage %></td>
          <td><%= e.fault %></td>
          <% unless e.crime.nil?  %>
          <%  parsed_json = JSON.parse(e.crime) %>
          <%end%>
          <td>
            <%if parsed_json %>
              <%= parsed_json.join(', <br />').html_safe %>
              
            <%end %>
          <td>
          <td><%= e.authority %></td>
          <td><%= e.situation %></td>
          <td><%= e.presentation_date %></td>
          <td><%= e.sanction_date %></td>
          <td>
            <div>
              <%= link_to(
                  "Consultar",
                  admin_evolution_path(e.id),
                  class: "action-show",
                ) %>
              <%= link_to(
                  "Eliminar",
                  admin_evolution_path(e.id),
                  class: "text-color-red",
                  method: :delete,
                  data: { confirm: t("administrate.actions.confirm") }
                ) %>
              <%= link_to(
                  "Editar",
                  edit_admin_evolution_path(e.id),
                  class: "action-edit",
                ) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
