  <div class="text-primary font-weight-bold mb-3">
    Asesoría legal
  </div>
  <%= form_with(url: '/admin/advisories', model: advisory, method: "post", class:'form-submit') do %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= hidden_field_tag 'advisory[characterization_id]', characterization_id %>
          <%= label_tag("advisory[tracking_date]", "Fecha del seguimiento:", :style => "min-height: 50px;") %>
          <%= date_field("advisory", "tracking_date", :class => "form-control") %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag("advisory[kind_answer]", "Tipo de respuesta que se dio al reportante:", :style => "min-height: 50px;") %>
          <%= select_tag("advisory[kind_answer]", options_for_select(kind_answer_options),  { class: "selectpicker"}) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
           <%= label_tag("advisory[summary]", "Cuadro del resumen de la actuacion:", :style => "min-height: 50px;") %>
          <%= text_area(:advisory, :summary, rows: 3, :class => "form-control") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <%= submit_tag("Crear seguimiento", :class =>"btn btn-primary form-btn-submit") %>
      </div>
    </div>
  <% end %>