<div class="modal fade" id="toolModal" tabindex="-1" role="dialog" aria-labelledby="Tool modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Herramientas legales utilizadas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @tool, :url => admin_tools_path, :html=> {:multipart => true } do %>
          <%= hidden_field_tag 'tool[advisory_id]' %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">Herramientas legales utilizadas</label>
                <%= select_tag('tool[tools_used]', options_for_select(get_options['tools_options']), {class:'custom-select'}) %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">¿Se radicó ante la entidad o autoridad a la que iba dirigido?</label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="tool[go_entity]" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Sí</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="tool[go_entity]" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">No</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Entidad de destino</label>
                <%= select_tag('ui-entity', raw('<option value="fiscalia">Fiscalía</option><option value="procuraduria">Procuraduría</option><option value="contraloria">Contraloría</option><option value="">Otra ¿cual?</option>'),  { multiple: true, class: "selectpicker entity_tools_select multiple-select", "data-id" => "tool_entity"}) %>
                <%= hidden_field_tag 'tool[entity]'%>
                <input type="text" name="tool[entity]" class="form-control mt-3 hide entity_text">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Fecha de radicación</label>
                <input type="date" name="tool[radication_date]" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Término legal para dar respuesta</label>
                <input type="date" name="tool[deadline]" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">¿Entidad o autoridad emitió la respuesta?</label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="have_answer" name="tool[have_answer]" class="custom-control-input">
                  <label class="custom-control-label" for="have_answer">Sí</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="have_anwswe_no" name="tool[have_answer]" class="custom-control-input">
                  <label class="custom-control-label" for="have_anwswe_no">No</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">Fecha de respuesta</label>
                <input type="date" name="tool[answer_date]" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">Subir herramienta</label>
                <input type="file" name="tool[document]" class="form-control-file">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Agregar herramienta</button>
            </div>
          </div>
        <%end %>
        <div class="row">
            <div class="col-md-12">
              <h5 class="modal-title my-5">Herramientas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table" aria-labelledby="tools-table" id="tool_table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Herramienta legal</th>
                    <th scope="col">Entidad de destino</th>
                    <th scope="col">Fecha de radicación</th>
                    <th scope="col">Término legal para dar respuesta</th>
                    <th scope="col">Respuesta</th>
                    <th scope="col">Fecha de respuesta</th>
                    <th scope="col">Opción</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>